<nav class="navbar navbar-default">
	<div class="container">
		<center>
			<a href="/">
				<div class="title">
					<img src="/images/logo/dayshardwood.png" width="200px">
				</div>
			</a>
		</center>
		<div class="menu" style="border-top: 2px solid green;border-bottom: 2px solid green;">
			<center>
	            {{ $currentPage := . }}
	            {{ range .Site.Menus.main }}
	            <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>&nbsp;
	            {{ end }}
        		<!-- <a href="/hardwood/">HARDWOOD</a>&nbsp;
        		<a href="/softwood/">SOFTWOOD</a>&nbsp;
        		<a href="/slabs/">SLABS</a>&nbsp;
        		<a href="/speciality/">SPECIALITY</a>&nbsp;
				<a href="/contact/">CONTACT</a>&nbsp; -->
			</center>
		</div>
	</div>
	
</div>

</div>
<div class="container-fluid">
    
</div>
</nav>

<!-- <div class="visible-xs">
<center style="margin-top:10px;">
<div class="menu pull-right">
<a href="/about/" style="margin-right:15px;margin-left:15px;">about</a>
<a href="/about/resume/" style="margin-right:15px;margin-left:15px;">resume</a>
</div>
<a href="/" class="pull-left">
<div class="title"><span style="font-weight:600;padding-right:3px;">minimalist</span>programmer
</div>
</a>
</center>
</div> -->